% import model
% import json

% rebase("base.html")
</div>
</nav>
<br><br>
<body>
  

% if stanje == model.ZMAGA and tezavnost.upper()=="TEKMOVALNO":
%with open("stanje.json","r") as d:
%  vsebina = json.load(d)
%cas = vsebina[str(id_igre)][4]

%end
  <h1>ZMAGA</h1>
  <p>Zmagali ste, potrebovali ste {{str(int(cas//60)) + " "+model.sklanjanje(int(cas//60))+" in "+str(round(cas%60,2))+" "+"sekunde"}}!</p>
  <br>
  <form action="/">
    <button type="submit">Zacetna stran</button>
  </form>
  <br>
  <form action="/{{kontinent}}/" method="get">
    <button type="submit">Ponovna igra</button>
  </form>
%elif stanje == model.ZMAGA:
  <h1 class="text-center">ZMAGA</h1>
  <p>Zmagali ste!</p>
  <br><br>
  <a href="/{{kontinent}}/">
  <button type="submit">nova igra</button>
  </a>

% elif stanje == model.PORAZ:
  <h1>PORAZ</h1>
  <p>Izgubili ste!</p>
  <a href="/">
  <button type="submit">Začetna stran</button>
  </a>
  <br>
  <a href="/{{kontinent}}/">
  <button type="submit">nova igra</button>
  </a>

% else:
<h1 class="text-center">{{kontinent.upper()}},{{igra.geslo}}</h1>
  <img src="/img/{{kontinent+'/'+igra.povezava}}" class="rounded mx-auto d-block" alt="zastava"
  style="width:850px;height:600px;">
  <br>
  <br>
  <form action="/{{kontinent}}/{{tezavnost}}/igra/" method="post">
    <div class="text-center">
    <b>Država:</b> <input type="text" name="beseda" autofocus autocomplete="off">
    <button class="btn btn-secondary" type="submit">Vnesi</button>
  
  %if tezavnost.upper() == "NETEKMOVALNO":
  </form>
  %if len(igra.ugib) >= 2:
<details>
  <summary style="color:red">Odgovor</summary>
  <p>{{igra.geslo.lower().capitalize()}}</p>
</details>
</div>
%end
%end
%end

</body>

</html>