%import model
% rebase("base.html")
<ul class="navbar-nav">
   <li class="nav-item">
       <a href="/pomoc/" class="nav-link active h5">O KVIZU</a>
   </li>
   <li class="nav-item">
      <a href="https://github.com/filip-rus/Projektna-naloga-UVP" class="nav-link active h5" target=”_blank”>Github</a>
   </li>
   <li class="nav-item">
      <form action="/odjava/" method="post" class="nav-link active h5">
         <button class="btn btn-danger" type="submit">Odjava ({{uporabnisko_ime}})</button>
      </form>
   </li>
 </ul>
</div>
</nav>
<br><br>
<div class="container">
    <img src="/img/tretja.jpg" class="rounded mx-auto d-block" alt="sani" 
    style="width:750px;height:400px;">
</div>
<br>

<div class="container text-center">
   %for celina in model.KONTINENTI:
   <a href="/{{celina.lower()}}/" class="btn btn-secondary" style="margin:50px;" role="button">{{celina}}</a>
   %end
</div>
<br>
<div class="container">
    <table class="table table-hover caption-top">
    <caption><b>Vaši najboljši časi</b></caption>
     <tr>
        <th>Evropa</th>
        <th>Azija</th>
        <th>Afrika</th>
        <th>Amerika</th>
     </tr>
     <tr>
        <td>{{statistika_uporabnika[0]}}</td>
        <td>{{statistika_uporabnika[1]}}</td>
        <td>{{statistika_uporabnika[2]}}</td>
        <td>{{statistika_uporabnika[3]}}</td>
     </tr>
    </table>
</div>
<br><br>
<div class="container">
    <table class="table table-hover caption-top">
        <caption><b>Najboljši časi vseh uporabnikov</b></caption>
     <tr>
        <th>Evropa</th>
        <th>Azija</th>
        <th>Afrika</th>
        <th>Amerika</th>
     </tr>
     <tr>
        <td>{{statistika_vseh[0][0][0]+" : "+statistika_vseh[0][0][1]}}</td>
        <td>{{statistika_vseh[1][0][0]+" : "+statistika_vseh[1][0][1]}}</td>
        <td>{{statistika_vseh[2][0][0]+" : "+statistika_vseh[2][0][1]}}</td>
        <td>{{statistika_vseh[3][0][0]+" : "+statistika_vseh[3][0][1]}}</td>
     </tr>
     <tr>
        <td>{{statistika_vseh[0][1][0]+" : "+statistika_vseh[0][1][1]}}</td>
        <td>{{statistika_vseh[1][1][0]+" : "+statistika_vseh[1][1][1]}}</td>
        <td>{{statistika_vseh[2][1][0]+" : "+statistika_vseh[2][1][1]}}</td>
        <td>{{statistika_vseh[3][1][0]+" : "+statistika_vseh[3][1][1]}}</td>
     </tr>
     <tr>
        <td>{{statistika_vseh[0][2][0]+" : "+statistika_vseh[0][2][1]}}</td>
        <td>{{statistika_vseh[1][2][0]+" : "+statistika_vseh[1][2][1]}}</td>
        <td>{{statistika_vseh[2][2][0]+" : "+statistika_vseh[2][2][1]}}</td>
        <td>{{statistika_vseh[3][2][0]+" : "+statistika_vseh[3][2][1]}}</td>
     </tr>
    </table>
</div>

</body>

</html>